<div class="container">
    <h2>Ingrese su entrada de texto Aqui: </h2>
    <form #entrada="ngForm" (submit)="analizarTexto(entrada)">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" wrap="off" name="txtEntrada" ngModel></textarea>
        <pre></pre>
        <div *ngIf="listaErrores.length > 0" class="alert alert-danger" role="alert">
            <p>Errorres en la entrada: </p>
            <span *ngFor = 'let info of listaErrores' style=" white-space: pre-wrap;">{{info}}</span>
        </div>
        <div *ngIf="listaErrores.length == 0 && entradaTrue" class="alert alert-success" role="alert">
            <p>Entrada Aceptable</p>
        </div>
        <input class="btn btn-primary" type="submit" value="Analizar">
    </form>
</div>
