  <div class="container">
    <div class="row">
      <div class="col">
        <app-editor-texto></app-editor-texto>
      </div>
      <div class="col">
        <div class="row">
            <app-analizadores-generados ></app-analizadores-generados>
          </div>
        <div *ngIf="activarEntradaTxt" class="row">
            <pre></pre>
          <app-entrada-texto></app-entrada-texto>
        </div>
          <div *ngIf="activarArbol" class="row">
              <pre></pre>
            <app-img-arbol></app-img-arbol>
          </div>
      </div>
    </div>
  </div>